body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 100%;
    background: #efefef;
    color: #444;
    line-height: 1.5em;
    padding: 60px 0 0;
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 60px;
    background: #fff;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0 0 5px #b4b4b4,transparent 0 0 0,transparent 0 0 0,transparent 0 0 0,transparent 0 0 0;
    -moz-box-shadow: 0 0 5px #b4b4b4,transparent 0 0 0,transparent 0 0 0,transparent 0 0 0,transparent 0 0 0;
    box-shadow: 0 0 5px #b4b4b4,transparent 0 0 0,transparent 0 0 0,transparent 0 0 0,transparent 0 0 0;
    z-index: 1000;
    margin: 0;
    padding: 0;
}

#header {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

header h1 {
    margin: 0;
    font-family: 'Seymour One', sans-serif;
    font-family: 'Oleo Script', cursive;
    position: relative;
    top: 18px;
    font-size: 50px;
}

header h1 span {
    color: #08c;
}

header ul {
    position: absolute;
    list-style: none;
    top: 14px;
    right: 0;
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline;
}

#header ul {
    position: absolute;
}

#body {
    width: 960px;
    margin: 0 auto;
}

#body.inactive {
    opacity: 0.1;
}

#body h1 {
    font-family: 'Oleo Script', cursive;
    font-size: 130px;
    padding-top: 150px;
    margin: 0;
    text-align: center;
}

#body ol {
    margin: 0;
    padding: 0;
    font-family: 'Oleo Script', cursive;
    font-size: 50px;
    text-align: center;
    margin-top: 150px;
}

#body ol li {
    display: inline;
    padding: 0 34px;
}

footer {
    width: 960px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    font-size: 70%;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer ul li {
    display: inline;
    padding: 0 5px;
}

footer ul li:first-child {
    padding-left: 0;
}

a {
    color: #08c;
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 4px 14px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #bbb;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

.btn-info {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
    background-color: #49afcd;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));
    background-image: -webkit-linear-gradient(top,#5bc0de,#2f96b4);
    background-image: -o-linear-gradient(top,#5bc0de,#2f96b4);
    background-image: linear-gradient(to bottom,#5bc0de,#2f96b4);
    background-image: -moz-linear-gradient(top,#5bc0de,#2f96b4);
    background-repeat: repeat-x;
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de',endColorstr='#ff2f96b4',GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-large {
    padding: 6px 14px;
    font-size: 16px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn-large [class^="icon-"] {
    margin-top: 2px;
}

.btn:hover, .btn.active {
    color: #333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    color: #fff;
    background-color: #2f96b4;
}

.btn-group {
    position: relative;
    display: inline-block;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
}

.btn-group > .btn:first-child {
    margin-left: 0;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}

.btn-group > .btn:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    }

.btn-group > .btn {
    font-size: 14px;
}

.btn-group > .btn {
    position: relative;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0;
}

.btn-group > .btn > a {
    padding: 4px 14px;
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url('glyphicons-halflings-white.png');
    background-position: 14px 14px;
    background-repeat: no-repeat;
}

.icon-black {
    background-image: url('glyphicons-halflings.png');
}

.icon-user {
    background-position: -168px 0;
}

.icon-off {
    background-position: -384px 0;
}

.icon-arrow-up {
    background-position: -289px -96px;
}

.icon-list-alt {
    background-position: -264px -24px;
}

.icon-wrench {
    background-position: -360px -144px;
}

.popup {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    position: absolute;
}

input[type="text"], input[type="password"], select, textarea {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    height: 20px;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

select {
    height: 30px;
}

input[type="text"].error, input[type="password"].error, select.error, textarea.error {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
    border-color: rgba(82,168,236,.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
    outline: 0;
}

input[type="submit"] {
    height: 30px;
}

input[disabled="disabled"] {
    color: #cccccc;
}

table.file-list, table.file-info {
    background: white;
    margin-top: 50px;
    border-collapse: collapse;
    font-size: 75%;
    width: 100%;
}

table.file-list th, table.file-list td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

table.file-list th {
    text-align: left;
    border-top: none;
}

table.file-list .filename {
    width: 159px;
}

table.file-list .name {
    width: 160px;
}

table.file-list .tags {
    width: 278px;
}

table.file-list .tags a {
    border-radius: 5px;
    background: #dddddd;
    padding: 4px;
    margin: 0 0 0 10px;
}

table.file-list .tags a:first-child {
    margin: 0;
}

table.file-list .access {
    width: 70px;
}

table.file-list .timestamp {
    width: 80px;
}

table.file-list .downloads {
    width: 80px;
}

table.file-list .edit {
    width: 22px;
}

table.file-list .delete {
    width: 35px;
}

table.file-list-edit tr.password {
    display: none;
}

table.file-list-edit th {
    font-weight: normal;
    text-align: left;
    padding-right: 20px;
    width: 142px;
}

table.file-list-edit input[type="text"], table.file-list-edit input[type="password"] {
    width: 450px;
}

table.file-list-edit select {
    width: 464px;
}

table.file-list-edit textarea {
    width: 450px;
    font-family: Arial,Helvetica,sans-serif;
    height: 120px;
}

table.file-list-edit input[type="submit"] {
    float: right;
}

h2.download, h3.download, p.download {
    text-align: center;
}

table.file-info {
    width: 450px;
    margin: 0 auto;
}

table.file-info td, table.file-info th {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

table.file-info tr.first td, table.file-info tr.first th {
    border-top: none;
}

.qq-uploader {
    position: relative;
    width: 100%;
}
.qq-upload-button {
    display: block;
    /*or inline-block*/
    width: 105px;
    padding: 7px 0;
    text-align: center;
    background: #880000;
    border-bottom: 1px solid #DDD;
    color: #FFF;
    display: none;
}
.qq-upload-button-hover {
    background: #CC0000;
}
.qq-upload-button-focus {
    outline: 1px dotted #000000;
}
.qq-upload-drop-area, .qq-upload-extra-drop-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 30px;
    z-index: 2;
    background: #0088cc;
    text-align: center;
    opacity: 0.5;
}
.qq-upload-drop-area span {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -8px;
    font-size: 16px;
}
.qq-upload-extra-drop-area {
    position: relative;
    margin-top: 50px;
    font-size: 16px;
    padding-top: 30px;
    height: 20px;
    min-height: 40px;
}
.qq-upload-drop-area-active {
    background: #0088cc;
    opacity: 0.2;
}
.qq-upload-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.qq-upload-list li {
    margin: 0;
    padding: 9px;
    line-height: 15px;
    font-size: 16px;
    background-color: #FFF0BD;
}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text, .qq-upload-finished {
    margin-right: 12px;
}
.qq-upload-file {
}
.qq-upload-spinner {
    display: inline-block;
    background: url("loading.gif");
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
}
.qq-upload-finished {
    display:none;
    width:15px;
    height:15px;
    vertical-align:text-bottom;
}
.qq-upload-size, .qq-upload-cancel {
    font-size: 12px;
    font-weight: normal;
}
.qq-upload-failed-text {
    display: none;
    font-style: italic;
    font-weight: bold;
}
.qq-upload-failed-icon {
    display:none;
    width:15px;
    height:15px;
    vertical-align:text-bottom;
}
.qq-upload-fail .qq-upload-failed-text {
    display: inline;
}
.qq-upload-list li.qq-upload-success {
    background-color: #5DA30C;
    color: #FFFFFF;
}
.qq-upload-list li.qq-upload-fail {
    background-color: #D60000;
    color: #FFFFFF;
}
.qq-progress-bar {
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
    width: 0%;
    height: 15px;
    border-radius: 6px;
    margin-bottom: 3px;
    display: none;
}